ul li{
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default list padding */
    display: flex;
    align-items: center
  }
  
  ul li img{
    margin: 0 10px 5px 0; /* Add spacing between list items */
    width: 30px;
  }
  
  img {
      width: 60px;
  }
  
  .top {
      display: flex;
      align-items: center;
  }